@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
}

:root {
  --green: #009933;
  --darkgreen: #00802b;
  --white: #fff;
  --black: #000;
  --lightgray: #f2f2f2;
  --gray: #cccccc;
  --darkgray: #595959;
  --orange: #fdba74;
}

.container {
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
  min-height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 3 / 2;
  padding: 10px;
  gap: 30px;
  background: var(--green);
  color: var(--white);
}

.header {
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 5px 20px;
  background: var(--white);
  box-shadow: 0px 2px 5px var(--gray);
}

.main {
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  padding: 20px;
  background: var(--lightgray);
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
}

.logo {
  width: 50px;
}

.logo-wrapper > .text-container {
  font-size: 2rem;
  font-weight: 900;
}

.icon-container > img {
  cursor: pointer;
  width: 24px;
}

.nav-wrapper > div,
.options-wrapper > div {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.nav-wrapper > div > .icon-container,
.options-wrapper > div > .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-container > a {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--white);
}

.search-profile {
  display: flex;
}

.search-profile,
.profile-actions {
  flex: 1;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  gap: 15px;
  height: 100%;
}

.search-bar-container > .icon-container {
  display: flex;
}

.input-container {
  flex: 1;
}

input {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  max-width: 500px;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  background: var(--lightgray);
}

input:focus {
  outline: none;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.profile-icon-container > img {
  width: 50px;
  border-radius: 50%;
}

.profile-container > .text-container {
  font-weight: 900;
  font-size: 0.9rem;
}

.profile-actions {
  display: flex;
}

.main-profile-icon-container > img {
  width: 80px;
  border-radius: 50%;
}

.welcome-profile {
  display: flex;
  align-items: center;
  flex: 3;
  gap: 15px;
}

.welcome-profile > .text-container {
  display: flex;
  flex-direction: column;
  font-weight: 900;
}

.welcome-text {
  font-size: 0.9rem;
}

.name-text {
  font-size: 1.1rem;
}

.actions {
  display: flex;
  justify-content: center;
  flex: 2;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button-container > button {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  padding: 10px 18px;
  width: 100px;
  border-radius: 20px;
  color: var(--white);
  background: var(--green);
  border: none;
}

.button-container > button:hover {
  background: var(--darkgreen);
  transition: 200ms;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-area: 1 / 1 / 3 / 2;
}

.projects-container > .text-container {
  font-weight: 900;
}

.announcements-container {
}

.trending-container {
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 325px);
  grid-auto-rows: 250px;
  gap: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  border-left: 5px var(--orange) solid;
  box-shadow: 2px 2px 5px var(--gray);
  background: var(--white);
}

.card-container > .text-container {
  flex: 2;
}

.big-text {
  font-size: 1.1rem;
  font-weight: 900;
}

.description-text {
  color: var(--darkgray);
  font-size: 0.9rem;
}

.actions-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

.actions-container > .icon-container {
  display: flex;
}

.actions-container > .icon-container > img {
  width: 26px;
}
